.showreel {
  --showreel-base-100: var(--base-100, #e3e3db);
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--showreel-base-100);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.showreelContainer {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(0.75);
  border-radius: 2rem;
  overflow: hidden;
}

.showreelContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 85%;
}

.volumeIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(
    in srgb,
    var(--showreel-base-100) 85%,
    transparent
  );
  opacity: 0.7;
  border-radius: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
}
